.app{
    background-color: black;
}

.tweet-container {
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
  }
  .tweet-container .tweet {
    break-inside: avoid;
    margin-bottom: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  @media (max-width: 1000px) {
    .tweet-container {
      column-count: 2;
    }
  }
  @media (max-width: 600px) {
    .tweet-container {
      column-count: 1;
    }
  }